@font-face {
    font-family: "andvari";
    src: url(andvari.ttf) format("truetype");
}

body#main{
	margin:0px;
	height:100vh;
	background-color: black;
	background-image: url("earth.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    font-family: 'Raleway', sans-serif;
    color: white;
}

body#home{
	margin:0px;
	height:100vh;
	background-color: black;
	background-image: url("halfcyber.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    font-family: "andvari", sans-serif;
    color: white;
}
h1{
	margin:0px;
	font-size:72pt;
	color: white;
	font-weight: normal;
}
h3{
	margin:30px 0 0 0 ;
	font-size:25pt;
	font-weight: :normal;
}

#half{
	width: 60vw;
	padding: 0 10vw;
}

#downloads{
	margin-top:10vh;
}

.warning{
	/*color: red;*/
	color:#FF3030;
}

.download-link{
	display:block;
	border: 1px solid white;
	text-decoration: none;
	width:20vw;
	color:white;
	margin: 10px auto;
	padding:10px 0;
	text-align:center;
	min-width:250px;
}

#the-link{
	display:block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color:white;
	border: 3px solid white;
	width:300px;
	height:100px;
	margin:30vh auto 0 auto;
	text-align:center;
}

#splash-title{
	width:100%;
	text-align:center;
}

#splash-sub{
	font-family: "andvari", sans-serif;
	text-align:center;
}

#splash-subtitle{
	text-align:center;
}